<!DOCTYPE html>
<html lang="en">
    <title> Data Colletion Web Application</title>
    <head>
        <link href="../static/stylesheet.css" rel="stylesheet">
    </head>
        <body>
            <div class="container">
                <h1><u><b>Collecting Data on Height (CM)</b></u> </h1>
                <h3>Please Enter Your Email and Height to get statics on your height</h3>
                <form action="submission.html" method="POST">
                    <input title="Enter Email" placeholder="Enter Email:" type="email", name="email_name" required=""><br>
                    <input title="Enter Height" placeholder="Enter Height (CM):" type="number", min="100", max="250", step="0.1", name="height_name" required=""><br>
                    <button type="Submit"> Submit</button>
                </form>
        </div>
    </body>
</html>